---
import Layout from "../layouts/Layout.astro";
import ProTipsCard from "../components/ProTipsCard.astro";
import { tips } from '../pages/pro-tips/tips';
---

<Layout title="GUÃAS DE proTips">
  <main class="w-10/12 mx-auto">
    <h1
        class="font-bold mt-2 pb-0 text-5xl lg:text-7xl bg-gradient-to-r dark:from-slate-100 dark:to-slate-400 from-slate-950 to-slate-500 text-transparent dark:text-transparent bg-clip-text text-center"
      >
        PRO TIPS
      </h1>

    <section class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      {
        tips.map((tips) => (
          <ProTipsCard
            key={tips.id}
            titulo={tips.titulo}
            descripcion={tips.descripcion}
            videoId={tips.videoId}
            videoUrl={tips.videoUrl}
            linkTip={`${tips.titulo}`}
          />
        ))
      }
    </section>
  </main>
</Layout>
