---
import SearchBtn from "./Search-btn.astro";
---

<article>
  <header>
    <h2>Programas destacados游녬</h2>
    <SearchBtn />
  </header>

  <button id="reloadButton"><img src="reload.svg" alt="" /></button>

  <article id="programList" class="contenedor">
    <!-- Los programas se cargar치n aqu칤 -->
  </article>
</article>

<script type="module">
  import { neon } from "https://cdn.skypack.dev/@neondatabase/serverless";

  const sql = neon(
    "postgresql://Programs-db_owner:gt7QxJLNI4rP@ep-shrill-brook-a5j8odhx.us-east-2.aws.neon.tech/Programs-db?sslmode=require"
  );

  LoadPrograms();

  document.getElementById("reloadButton").addEventListener("click", () => LoadPrograms());

  // Escuchar el cambio en el input para realizar la b칰squeda sin esperar Enter
  document.querySelector("#input").addEventListener("input", async () => {
    const InputValue = document.querySelector("#input").value;

    // Evitar hacer la consulta si el campo est치 vac칤o
    if (!InputValue.trim()) return;

    console.log("Realizando b칰squeda...");

    const response =
      await sql`SELECT * FROM programas WHERE LOWER(nombre) LIKE LOWER(${`%${InputValue}%`})`;

    // Comprueba si la b칰squeda retorna alg칰n valor
    if (response.length < 1) {
      alert("No se ha encontrado ning칰n programa con ese nombre...");
      return;
    }

    // Actualiza el contenido del contenedor con los nuevos programas
    document.getElementById("programList").innerHTML = response
      .map(
        (programa) => `
          <div class="div-container">
            <header>
              <img
                src="${programa.link_de_imagen}"
                alt="${programa.nombre}"
                width="32"
                height="32"
                loading="lazy"
                onerror="this.onerror=null; this.src='https://s3.amazonaws.com/www-inside-design/uploads/2020/10/aspect-ratios-blogpost-1x1-1.png';"
              />
              <h3>
                <a rel="noreferrer" href="${programa.link_de_descarga}">
                  ${programa.nombre}
                </a>
              </h3>
            </header>
            <span>${programa.detalles}</span>
          </div>
        `
      )
      .join("");
    makeStyles();
  });


  // Funci칩n cargar programas
  async function LoadPrograms() {
    const response = await sql`SELECT * FROM programas
ORDER BY nombre ASC`;

    const programList = document.getElementById("programList");

    // Actualiza el contenido del contenedor con los nuevos programas
    programList.innerHTML = response
      .map(
        (programa) => `
          <div class="div-container">
            <header>
              <img
                src="${programa.link_de_imagen}"
                alt="${programa.nombre}"
                onerror="this.onerror=null; this.src='https://s3.amazonaws.com/www-inside-design/uploads/2020/10/aspect-ratios-blogpost-1x1-1.png';"
              />
              <h3>
                <a rel="noreferrer" href="${programa.link_de_descarga}">
                  ${programa.nombre}
                </a>
              </h3>
            </header>
            <span>${programa.detalles}</span>
          </div>
        `
      )
      .join("");

    makeStyles();
  }

  // Observar el ancho de la pantalla para hacer un dise침o responsive
  function makeStyles() {
    window.addEventListener("resize", responsive);

    // Llamada inicial
    responsive();

    function responsive() {
      // Conseguir el ancho de la pantalla
      const size = window.innerWidth;

      const contenedor = document.querySelector("article.contenedor");

      if (size <= 730) {
        // Pantalla menor a 730px
        contenedor.style.gridTemplateColumns = "100%";
      } else if (size <= 1200) {
        // Pantalla menor a 1200px
        contenedor.style.gridTemplateColumns = "50% 50%";
      } else {
        // Pantalla mayor a 1200px
        contenedor.style.gridTemplateColumns = "33.33% 33.33% 33.33%";
      }
    }

    const div_container = programList.querySelectorAll("div");
    div_container.forEach((div) => {
      div.style.padding = "10px";
    });

    const h2 = document.querySelector("h2");
    h2.style.borderBottom = "2px solid var(--text-gray-color)";
    h2.style.marginBottom = "10px";

    const contenedor = document.querySelector("article.contenedor");
    contenedor.style.display = "grid";
    contenedor.style.gap = "9px 3px";

    const headers = programList.querySelectorAll("header");
    headers.forEach((header) => {
      header.style.display = "flex";
      header.style.gap = "4px";
      header.style.alignItems = "center";
    });

    const images = programList.querySelectorAll("img");
    images.forEach((img) => {
      img.style.height = "32px";
      img.style.width = "auto";
    });

    const anchors = programList.querySelectorAll("a");
    anchors.forEach((a) => {
      a.style.textDecoration = "none";
      a.style.color = "unset";
    });

    const spans = programList.querySelectorAll("span");
    spans.forEach((span) => {
      span.style.marginTop = "5px";
      span.style.color = "var(--text-gray-color)";
      span.style.width = "98%";
      span.style.display = "block";
      span.style.overflowWrap = "break-word";
    });
  }
</script>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #reloadButton {
    position: fixed;
    top: 60px;
    right: 30px;
    border: none;
    transition: 0.3s ease;
    cursor: pointer;
    transform: rotate(0deg);
    background-color: var(--background-color);
  }

  #reloadButton:hover {
    transform: rotate(90deg);
  }

  #reloadButton img {
    height: 32px;
  }
</style>
